body {
  /* background-color: rgb(184, 23, 224); */
  background-color: rgb(100%, 100%, 0%);
  text-align: center;
}

#yoshi {
  border: dashed 1px lime;
  margin-top: 20px;
}

#yoshi:hover {
  border-color: red;
}

h1, h2 {
   width: 200px;
   margin: 0px auto 0px auto;
   font-family: sans-serif;
}

h1:hover {
  color: lime;
}

h2:hover {
  color: lime;
}

#smv {
  display: inline-block;
}

#yoshi-pics {
  width: 200px;
  float: right;
}
